{
  "swagger": "2.0",
  "info": {
    "title": "blog/blog.proto",
    "version": "version not set"
  },
  "tags": [
    {
      "name": "BlogService"
    }
  ],
  "host": "yyuck.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/blog.v1.BlogService/blogs": {
      "get": {
        "operationId": "BlogService_List",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "BlogService"
        ]
      },
      "post": {
        "operationId": "BlogService_Create",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1CreateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateRequest"
            }
          }
        ],
        "tags": [
          "BlogService"
        ]
      }
    },
    "/blog.v1.BlogService/blogs/{id}": {
      "get": {
        "operationId": "BlogService_Get",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "BlogService"
        ]
      },
      "delete": {
        "operationId": "BlogService_Delete",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1DeleteResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "BlogService"
        ]
      },
      "patch": {
        "operationId": "BlogService_Update",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1UpdateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "blog": {
                  "$ref": "#/definitions/v1NewBlog"
                }
              }
            }
          }
        ],
        "tags": [
          "BlogService"
        ]
      }
    }
  },
  "definitions": {
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    },
    "v1Blog": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "title": "id"
        },
        "title": {
          "type": "string",
          "title": "blog title"
        },
        "image": {
          "type": "string",
          "title": "blog image"
        },
        "summary": {
          "type": "string",
          "title": "blog summary"
        },
        "markdown": {
          "type": "string",
          "title": "markdown"
        },
        "author": {
          "type": "string",
          "title": "author"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time"
        }
      },
      "title": "Blog item"
    },
    "v1CreateRequest": {
      "type": "object",
      "properties": {
        "blog": {
          "$ref": "#/definitions/v1NewBlog"
        }
      }
    },
    "v1CreateResponse": {
      "type": "object",
      "properties": {
        "blog": {
          "$ref": "#/definitions/v1Blog"
        }
      }
    },
    "v1DeleteResponse": {
      "type": "object"
    },
    "v1GetResponse": {
      "type": "object",
      "properties": {
        "blog": {
          "$ref": "#/definitions/v1Blog"
        }
      }
    },
    "v1ListResponse": {
      "type": "object",
      "properties": {
        "blogs": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1Blog"
          }
        }
      }
    },
    "v1NewBlog": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "title": "blog title"
        },
        "image": {
          "type": "string",
          "title": "blog image"
        },
        "summary": {
          "type": "string",
          "title": "blog summary"
        },
        "markdown": {
          "type": "string",
          "title": "markdown"
        },
        "author": {
          "type": "string",
          "title": "author"
        }
      },
      "title": "New Blog item"
    },
    "v1UpdateResponse": {
      "type": "object",
      "properties": {
        "blog": {
          "$ref": "#/definitions/v1Blog"
        }
      }
    }
  }
}
