{
  "swagger": "2.0",
  "info": {
    "title": "lottery/lottery.proto",
    "version": "version not set"
  },
  "tags": [
    {
      "name": "LotteryService"
    }
  ],
  "host": "yyuck.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/lottery.v1.LotteryService/lotterys": {
      "get": {
        "operationId": "LotteryService_List",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/lotteryv1ListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "LotteryService"
        ]
      },
      "post": {
        "operationId": "LotteryService_Create",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/lotteryv1CreateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/lotteryv1CreateRequest"
            }
          }
        ],
        "tags": [
          "LotteryService"
        ]
      }
    },
    "/lottery.v1.LotteryService/lotterys/{id}": {
      "get": {
        "operationId": "LotteryService_Get",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/lotteryv1GetResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "LotteryService"
        ]
      },
      "delete": {
        "operationId": "LotteryService_Delete",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/lotteryv1DeleteResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "LotteryService"
        ]
      },
      "patch": {
        "operationId": "LotteryService_Update",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/lotteryv1UpdateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "lottery": {
                  "$ref": "#/definitions/v1NewLottery"
                }
              }
            }
          }
        ],
        "tags": [
          "LotteryService"
        ]
      }
    }
  },
  "definitions": {
    "lotteryv1CreateRequest": {
      "type": "object",
      "properties": {
        "lottery": {
          "$ref": "#/definitions/v1NewLottery"
        }
      }
    },
    "lotteryv1CreateResponse": {
      "type": "object",
      "properties": {
        "lottery": {
          "$ref": "#/definitions/v1Lottery"
        }
      }
    },
    "lotteryv1DeleteResponse": {
      "type": "object"
    },
    "lotteryv1GetResponse": {
      "type": "object",
      "properties": {
        "lottery": {
          "$ref": "#/definitions/v1Lottery"
        }
      }
    },
    "lotteryv1ListResponse": {
      "type": "object",
      "properties": {
        "lotterys": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1Lottery"
          }
        }
      }
    },
    "lotteryv1Type": {
      "type": "string",
      "enum": [
        "NUMBER",
        "PERCENT"
      ],
      "default": "NUMBER",
      "description": "- NUMBER: 个数\n - PERCENT: 几率",
      "title": "抽签类型"
    },
    "lotteryv1UpdateResponse": {
      "type": "object",
      "properties": {
        "lottery": {
          "$ref": "#/definitions/v1Lottery"
        }
      }
    },
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    },
    "v1Item": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "title": "lottery title"
        },
        "value": {
          "type": "integer",
          "format": "int32",
          "title": "lottery summary"
        }
      },
      "title": "Lottery item"
    },
    "v1Lottery": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "title": "id"
        },
        "title": {
          "type": "string",
          "title": "lottery title"
        },
        "type": {
          "$ref": "#/definitions/lotteryv1Type",
          "title": "lottery image"
        },
        "items": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1Item"
          }
        },
        "remark": {
          "type": "boolean",
          "title": "lottery summary"
        },
        "remarks": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1Remark"
          }
        },
        "createdAt": {
          "type": "string",
          "format": "date-time"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time"
        }
      },
      "title": "Lottery item"
    },
    "v1NewLottery": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "title": "lottery title"
        },
        "type": {
          "$ref": "#/definitions/lotteryv1Type",
          "title": "lottery image"
        },
        "items": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1Item"
          },
          "title": "lottery image"
        },
        "remark": {
          "type": "boolean",
          "title": "lottery summary"
        },
        "remarks": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1Remark"
          },
          "title": "lottery summary"
        }
      }
    },
    "v1Remark": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "title": "lottery title"
        },
        "require": {
          "type": "boolean",
          "title": "lottery summary"
        }
      },
      "title": "Lottery item"
    }
  }
}
