html,
body {
  /* TODO: add pull to refresh */
  /* overscroll-behavior-y: contain; */
}
body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  display: flex;
}
