{
  "components": {
    "requestBodies": {
      "NewsNewsListRequest": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/EmptyMsg"
            }
          }
        },
        "description": "NewsNewsListRequest"
      },
      "NewsNewsRequest": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/EmptyMsg"
            }
          }
        },
        "description": "NewsNewsRequest"
      }
    },
    "responses": {
      "MicroAPIError": {
        "content": {
          "application/json": {
            "schema": {
              "properties": {
                "Code": {
                  "description": "Error code",
                  "example": 500,
                  "type": "number"
                },
                "Detail": {
                  "description": "Error detail",
                  "example": "service not found",
                  "type": "string"
                },
                "Id": {
                  "description": "Error ID",
                  "type": "string"
                },
                "Status": {
                  "description": "Error status message",
                  "example": "Internal Server Error",
                  "type": "string"
                }
              },
              "title": "MicroAPIError",
              "type": "object"
            }
          }
        },
        "description": "Error from the Micro API"
      },
      "NewsNewsListResponse": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/NewsResponse"
            }
          }
        },
        "description": "NewsNewsListResponse"
      },
      "NewsNewsResponse": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/NewsItem"
            }
          }
        },
        "description": "NewsNewsResponse"
      }
    },
    "schemas": {
      "EmptyMsg": {
        "title": "EmptyMsg",
        "type": "object"
      },
      "ListRequest": {
        "properties": {
          "name": {
            "type": "string"
          }
        },
        "title": "ListRequest",
        "type": "object"
      },
      "ListResponse": {
        "properties": {
          "msg": {
            "type": "string"
          }
        },
        "title": "ListResponse",
        "type": "object"
      },
      "NewsItem": {
        "properties": {
          "comment": {
            "format": "int32",
            "type": "number"
          },
          "image": {
            "type": "string"
          },
          "link": {
            "type": "string"
          },
          "time": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "type": {
            "description": "1: 业界, 2: 科学, 3: 影视, 4: 游戏",
            "type": "string"
          },
          "view": {
            "format": "int32",
            "type": "number"
          }
        },
        "title": "NewsItem",
        "type": "object"
      },
      "NewsResponse": {
        "properties": {
          "list": {
            "items": {
              "properties": {
                "comment": {
                  "format": "int32",
                  "type": "number"
                },
                "image": {
                  "type": "string"
                },
                "link": {
                  "type": "string"
                },
                "time": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "type": {
                  "description": "1: 业界, 2: 科学, 3: 影视, 4: 游戏",
                  "type": "string"
                },
                "view": {
                  "format": "int32",
                  "type": "number"
                }
              },
              "type": "object"
            },
            "type": "array"
          }
        },
        "title": "NewsResponse",
        "type": "object"
      }
    },
    "securitySchemes": {
      "MicroAPIToken": {
        "bearerFormat": "JWT",
        "description": "Micro API token",
        "scheme": "bearer",
        "type": "http"
      }
    }
  },
  "info": {
    "description": "Generated by protoc-gen-openapi",
    "title": "News",
    "version": "1",
    "x-logo": {
      "altText": "Micro logo",
      "backgroundColor": "#FFFFFF",
      "url": "https://micro.mu/images/brand.png"
    }
  },
  "openapi": "3.0.0",
  "paths": {
    "/news/News/News": {
      "parameters": [
        {
          "in": "header",
          "name": "Micro-Namespace",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "requestBody": {
          "$ref": "#/components/requestBodies/NewsNewsRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/NewsNewsResponse"
          },
          "default": {
            "$ref": "#/components/responses/MicroAPIError"
          }
        },
        "security": [
          {
            "MicroAPIToken": []
          }
        ],
        "summary": "News.News(EmptyMsg)"
      }
    },
    "/news/News/NewsList": {
      "parameters": [
        {
          "in": "header",
          "name": "Micro-Namespace",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "requestBody": {
          "$ref": "#/components/requestBodies/NewsNewsListRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/NewsNewsListResponse"
          },
          "default": {
            "$ref": "#/components/responses/MicroAPIError"
          }
        },
        "security": [
          {
            "MicroAPIToken": []
          }
        ],
        "summary": "News.NewsList(EmptyMsg)"
      }
    }
  },
  "servers": [
    {
      "url": "https://api.m3o.dev",
      "description": "Micro DEV environment"
    },
    {
      "url": "https://api.m3o.com",
      "description": "Micro LIVE environment"
    }
  ]
}